body {
    display: flex;
    justify-content: center;
    background: aliceblue;
}

.container {
    width: 500px;
    text-align: center;
    height: auto;
}

.container .dice-container {
    display: flex;
    justify-content: center;
}

.container .dice-container div {
    width: 60px;
    margin: 10px;
    cursor: pointer;
}

.rotateDiceOne {
    transform: rotateZ(270deg);
    pointer-events: none;
    opacity: 0.4;
}

.container .dice-container div img {
    width: 100%;

    transition: all 1s ease-in-out;
}